
@charset "UTF-8";
/* reset */
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
   margin: 0;
   padding: 0;
   border: none;
   font-style: normal;
   font-weight: normal;
   font-size: 100%;
   text-align: left;
   list-style-type: none;
   border-collapse: collapse;
}


textarea { font-size: 100%; vertical-align:middle;}
img { border-style: none; display: block; }
hr { display: none; }
em{font-style: normal}
input{line-height:auto;vertical-align:middle;}
strong.more{color:#c30}
a{text-decoration: none;}


html {


}


body {
   font-family:'ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ Pro W3','Hiragino Kaku Gothic Pro','ãƒ¡ã‚¤ãƒªã‚ª',Meiryo,'ï¼­ï¼³ ï¼°ã‚´ã‚·ãƒƒã‚¯',sans-serif;
}


* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -o-box-sizing: border-box;
   -ms-box-sizing: border-box;
   box-sizing: border-box;
}


/* ここから*/

html{
  position: relative;
}

body {
   background-color: #f5f5f5;
 }
 main{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  padding-bottom: 290px;
  box-sizing: border-box;
 }

 section{
  margin-top: 0;
 }
 table{

 }

 img{
  max-width: 100%;
  height: auto;
  }

  header {
   position: fixed;
   z-index: calc(infinity);
   top: 0;
   left: 0;
   width: 100%;
   height: 100px;
   background: white;
   opacity: 0;
   transform: translateY(-50px);
   transition: opacity 1s ease-out, transform 1s ease-out;
 }
  header .wrap {
   display: flex;
   justify-content: space-between;
   padding: 2rem 2.5rem;
   margin: 0 10%;
 }
  .menuList {
   display: flex;
 }
.menuList li a {
   margin-left: 20px;
   text-decoration: none;
   color: rgba(0, 0, 0, 0.87);
 }
  .topImgWrap {
   position: relative;
   width: 100vw;
   height: 100vh;
 }
  .topTxt {
    position: absolute;
    padding: 2.5rem;
    bottom: 0;
    left: 0;
    font-weight: bold;
    color: #f5f5f5;
    font-size: 2rem;
   opacity: 0;
   transform: translateY(50px);
   transition: opacity 1s ease-out, transform 1s ease-out;
 }
  .yP {
   color: #fce244;
 }

 .span ,.menuList li a span, .menuList li a{
  transition:.1s ease-in-out;
 }

 .span:hover ,.menuList li a span:hover {
  color: #2da690;
}
.menuList li a:hover{
  color: #2da690;
}

 .fade-in {
   opacity: 1;
   transform: translateY(0);
 }
  
 .header-fade-in {
   opacity: 0.9;
   transform: translateY(0);
 }
  .topImg div {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: 0;
   transition: opacity 1s;
 }
  .topImg div img {
   width: 100vw;
   height: 100vh;
   object-fit: cover;
 }
  h1 {
   display: inline-block;
   position: relative;
   left: 50%;
   transform: translateX(-50%);
   font-size: 2rem;
   font-weight: 700;
   line-height: 2.5rem;
   text-align: center;
   margin: 35px auto 3.5rem;
   border-top: solid 1px #2da690;
   padding-top: 25px;
 }
  .OurServiceWrap {
   background: #f5f5f5;
 }
  .OurServiceBox {
   margin-top: 10px;
   width: 100%;
   height: 100%;
   margin-bottom: 10%;
 }
  .OurServiceList {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    position: relative;
    align-items: center;
 }
  .div1,
 .div2,
 .div3 {
  align-items: center;
  display: flex;
  width: 90%;
  height: 70vh;
  justify-content: space-between;
  gap: 15%;
}

 .div1{
 }

 .div2{
   margin-top: 5%;
   margin-bottom: 5%;
 }
  .catch {
   font-size: 2rem;
   font-weight: 700;
   line-height: 2.5rem;
   margin: 1.5rem 0 1rem;
 }
  .OurServiceWrap p {
   color: black;
 }
  .excerpt {
   margin: 1rem 0;
   color: rgba(0, 0, 0, 0.54);
 }
  .serviceTxt1,
 .serviceTxt2,
 .serviceTxt3 {
  z-index: 3;
    width: 60%;
    background: rgba(255, 255, 255, 0.95);
    padding: 6rem;
    color: rgba(0, 0, 0, 0.87);
 }

 
  .serviceTxt1 {
    width: 50vw;
    margin-left: calc(50% - 70vw);
  }
  .serviceTxt2 {
    width: 50vw;
    margin-right: calc(50% - 70vw);
 }
  .serviceTxt3 {
    width: 50vw;
    margin-left: calc(50% - 70vw);
 }
  .serviceTxt3 img {
   width: 76px;
   height: 64px;
 }
  .serviceImg1,
 .serviceImg2,
 .serviceImg3 {
  width: 100%;
   flex: 1;
   z-index: 1;
}
  .serviceImg1 {
    width: 100vw;
    
}
  .serviceImg2 {
   top: 0px;
   right: 60px;
 }
  .serviceImg3 {
   top: -100px;
   left: 0%;
 }


 .serviceImg1 img{
  width: 100%;
  height: 100%;
  margin-left: calc(50% - 28vw);
  object-fit: cover;
}
 
 .serviceImg2 img{
  width: 100%;
  height: 100%;
  margin-right: calc(50% - 28vw);
  object-fit: cover;
 }
 .serviceImg3 img{
  width: 100%;
  height: 100%;
  margin-left: calc(50% - 28vw);
  object-fit: cover;
 }
  .black {
   width: 200px;
   height: 64px;
   margin: 5px;
 }
  #OS{
   position: absolute;
   left: 80%;
   top: 100%;
 }


 #OS a{
   color: black;
   display: flex;
   font-size: 1em;
 }

 #OS a #text{
  font-weight: 700;
 }

 .Other{
   margin: 1em auto;
 }


.span{
  font-weight: 700;
  margin-top: 6px;
}

 #ourVision {
   width: 100%;
   height: 100%;
 }
  .cp_arrows {
  
}
.cp_arrows span {
   position: relative;
   display: inline-block;
   width: 1.1em;
   height: 1.1em;
   margin-right: 0.5em;
   margin-left: 0.5em;
}
.cp_arrows span::after {
  position: absolute;
  top: 0.5rem;
  left: 0;
  width: 1.3em;
  height: 1.2em;
   content: '';
   border: 2px solid #2da690;
   border-radius: 50%;
   background: #2da690;
}
.cp_arrows [class*='cp_arrow'] {
   position: relative;
   display: inline-block;
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
   vertical-align: middle;
   color: #ffffff;
   z-index: 99;
}
.cp_arrows [class*='cp_arrow']:after,
.cp_arrows [class*='cp_arrow']:before {
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
   content: '';
}
.cp_arrows [class*='cp_arrow'] {
   top: 0em;
   left: -0.3em;
   width: 10px;
   height: 12px;
   margin: 0.8em;
   border-width: 4px 4px 0 0;
   border-style: solid;
   border-radius: 0 2px 0 0;
}
.cp_arrows [class*='cp_arrow']:before,
.cp_arrows [class*='cp_arrow']:after {
   position: absolute;
   border-radius: 2px;
}
.cp_arrows [class*='cp_arrow']:before {
   top: -3px;
   right: 0;
   width: 15px;
   height: 4px;
   -webkit-transform: rotate(-45deg);
           transform: rotate(-45deg);
   -webkit-transform-origin: right top;
           transform-origin: right top;
   -webkit-box-shadow: inset 0 0 0 32px;
           box-shadow: inset 0 0 0 24px;
}
.cp_arrows [class*='cp_arrow']:after {
   top: -4px;
   left: -2px;
   width: 4px;
   height: 4px;
   -webkit-box-shadow: inset 0 0 0 32px, 16px 17px;
           box-shadow: inset 0 0 0 24px, 8px 9px;
}
.cp_arrows .cp_arrow_right {
   -webkit-transform: rotate(45deg);
           transform: rotate(45deg);
}


#ourVision {
   background-image: url(image/bg01.jpg); 
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   color: #333; 
   text-align: center;
   padding: 50px 20px;
   display: flex;
   flex-flow: column;
}

.ovWrapper{ 
  display: flex;
  flex-flow: column;
  align-items: center;
}

#ourVision h1{
   left: 8%;
}

.olist{
  margin: 10px;
}

#ourVision h2{
   font-size: 2.66667rem;
   font-weight: 700;
   line-height: 3.5rem;
   font-weight: 400;
   margin: 3.5rem auto;
}


.ov_list{
   margin: 0 auto;
   display: flex;
}


.bold {
    font-size: 2rem;
   font-weight: 700;
   line-height: 2.5rem;
   color: #2da690;
   margin: 0 0 1.5rem;
}
.sub p{
   color: #333;
}

#companyInfo{
  background-image: url(image/bg02.jpg);
}
.companyWrap{
  display: flex;
  width: 100%;
  height: 100%;
  padding: 2% 10%;
  gap: 2%;
}
.cImg{
  flex: 1;
  height: 100%;
  width: 100%;
  height: auto;
  
}

.cImg img{
  height: 100%;
  object-fit: cover;
}

.cTable{
  flex: 1;
}

.companyList{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}

.companyList tr{
   display: flex;
}

.companyList th{
border-bottom: solid 1px #2da690;
max-width: 17%;
margin: 0 .5rem 0 0;
padding: 1rem 0;
width: 100%;
}

.companyList td{
  border-bottom:solid 1px rgba(0, 0, 0, 0.12);
  padding: 1rem 0;
  width: 100%;
}

.companyList p{
   color: #333;
}

#CI{
  display: contents;
  width: 100%;
} 

#CI a{
  color: black;
  display: flex;
  font-size: 1em;
  margin-left: 85%;
}
.h1div{
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 50%;
  padding: 3%;
}

.hline{
  border-bottom: solid 1px #2da690;
  width: 40%;
  margin-bottom: 4%;
}

.mainwid{
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 5% 6%;
}

.mainwid h1{
  display: contents;
}
.news-list{
  flex-flow: column;
  display: flex;
  gap: 10%;
  align-items: center;
}
.newsImg{
  width: 15%;
}
.newsImg img{
  object-fit: cover;
  width: 100%;
}
.item{
  display: flex;
}
.nwrap{
  display: flex;
  flex-flow: column;
}
.ncate{
  display: flex;
}
.news-list .item a{
  display: flex;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid #CCC;
  padding: 20px 20px;
  gap: 3%;
}

.news-list .item .date{
  margin-right: 5px;
  font-size: 16px;
  color: #999;
}
.news-list .item .category{
  padding-right: 10px;
}
.news-list .item .category span{ 
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
.news-list .item .title{
  margin: 0;
  width: 100%;
}

#ON{
  display: contents;
  width: 100%;
}

#ON a{
  color: black;
   display: flex;
   font-size: 1em;
   margin-left: 85%;
 }

#Recruit{
  width: 100%;
  padding: 1%;
  margin-bottom: 10%;
}

.rCenter{
  display: flex;
  flex-flow: column;
  align-items: center;
}
.rh2{
  font-weight: 700;
  margin-bottom: 5%;
}

#rFc p{
  color: #2da690;
}

#rMenu{
  width: 80%;
  height: 100%;
  margin: 5px 60%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 2.5rem;
  font-weight: 700;
}

.rText{
  text-align: center;
  font-size: 1rem;
  margin-bottom: 3%;
  font-weight: 700;
}

.rBox{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.rBox div{
  border:solid 1px rgba(0, 0, 0, 0.12);
  margin: 10px;
  padding: 15px;
  width: 100%;
  text-align: center;
  transition: background-color 0.14s ease-in-out;
}
.rdiv:hover{
  background: #2da690;
  color: #fff;
}
#RI{
  width: 100%;
}
#RI a{  
  color: black;
  display: flex;
  font-size: 1em;
  margin-left: 85%;
   }

   
#footer{
  padding: 3.5rem 8%;
  clear: both;
  background-color: #4D4D4D;
  color: #fff;
  width: 100%;
  height: 290px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
}
.contentList{
  display: flex;
  flex-flow: column;
  width: 100%;
}
.contentList .menuList span{
  color: #fff;
}
.footerWrapper{
  width: 100%;
  margin: 5px;
  display: flex;
  flex-flow: column;
}
.news-list .item a:hover .title{
  color: #00F;
}

.ServiceLlst{
  display: flex;
  justify-content: flex-end;
  margin-top: 5%;
}


.educureB, .TECHB, .englishB{
  display: flex;
}

.contentList .menuList{
  display: flex;
  justify-content: flex-end;
}

.sBox {
  border: solid 1px #ffffff;
  border-color: rgba(255, 255, 255, 0.12);
  padding: .5rem 1.5rem;
  font-size: .88889rem;
  line-height: 1.25rem;
  width: auto;
}
.sBox + .sBox{
  margin-left: 1rem;
}
.sBox p{
  color: #fff;
    font-size: .88889rem;
    line-height: 1.25rem;
    font-weight: 700;
    white-space: nowrap;
}

.sBox:hover{
  background: #2da690;
  color: #fff;
}

.sBox:hover .arrow {
  background: #fff;
}
.sBox:hover .arrow::after{
  background: #fff;
}

.sBox:hover .arrow::before{
  background: #fff;
}

.arrow {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 3px;
  margin: 10px;
  border-radius: 9999px;
  background-color: #2da690;
}

.arrow::before,
.arrow::after {
  content: "";
  position: absolute;
  top: calc(50% - 1.5px);
  right: 0;
  width: 10px;
  height: 3px;
  border-radius: 9999px;
  background-color: #2da690;
  transform-origin: calc(100% - 1.5px) 50%;
}

.arrow::before {
  transform: rotate(45deg);
}

.arrow::after {
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
    .OurServiceList {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column;
      }

      .news-list .item a{
        flex-wrap: wrap;
      }
      .news-list .item .date{
        min-width: 100px;
      }
      .news-list .item .title{
        margin-top: 10px;
      }
}



@media screen and (max-width: 412px) {
	
}
